{% extends "lifetime/base.html" %}

{% block main %}
<header>
    <h1>Lifetime in Weeks</h1>
    <p>Visualize your life, one week at a time</p>
</header>

<section class="lifetime-form">
    <form method="post" id="lifetimeForm">
        {% csrf_token %}

        <div class="form-page" id="page1">
            <h2>Enter Birth Date</h2>
            <div class="form-group">
                <label for="birth_date">Birth Date:</label>
                <input type="date" id="birth_date" name="birth_date" oninput="validateDate()" required>
            </div>
            <div class="button-group">
                <button id="first_page_button" type="button" onclick="showPage2()" disabled>Continue</button>
            </div>
        </div>

        <div class="form-page" id="page2" style="display: none;">
            <h2>Additional Details</h2>
            <p class="form-info">These details help calculate a more accurate life expectancy, but are completely
                optional.</p>

            <div class="form-group">
                <label for="country">Country:</label>
                {{ form.country }}
            </div>
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select id="sex" name="sex">
                    <option value="">Prefer not to say</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </div>
            <div class="button-group">
                <button type="button" onclick="showPage1()">Back</button>
                <button type="submit">Visualize Lifetime</button>
            </div>
        </div>
    </form>
</section>

{% if recent_lifetimes %}
<section class="recent-lifetimes">
    <h2>Recenttly Added</h2>
    <ul>
        {% for lifetime in recent_lifetimes %}
        <li>
            <a href="{% url 'lifetime:detail' lifetime.id %}">
                {{ lifetime }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="/celebrities">See all celebrities</a>
</section>
{% endif %}

<script>
    function validateDate() {
        let button = document.getElementById("first_page_button");
        let date = document.getElementById("birth_date");
        let date_js = new Date(date.value);
        console.log(date, date_js);
        if (!date.value) {
            console.log("Birth date is required")
        } else if (date_js > new Date()) {
            console.log("Date can't be further than today")
        } else {
            console.log("Value added")
            button.disabled = false;
        }
    }

    function preventEnter(e) {
        console.log(e);
        if (e.key == 'Enter') {
            e.preventDefault();
        }
        let button = document.getElementById("first_page_button");
        if (e.key == 'Enter' && !button.disabled) {
            showPage2()
            console.log("enter passed")
        } else {
            return
        }
    }

    function showPage1() {
        document.getElementById('page1').style.display = 'block';
        document.getElementById('page2').style.display = 'none';
    }

    function showPage2() {
        document.getElementById('page1').style.display = 'none';
        document.getElementById('page2').style.display = 'block';
    }


    document.getElementById('lifetimeForm').addEventListener('keydown', preventEnter);
</script>
{% endblock %}